# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
/frontend/build
/backend/build

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
